<div class="nav background">
  <%= link_to root_path, class: "left-arrow-link background" do %>
    <%= image_tag 'left-arrow.svg', class: "left-arrow background" %>
  <% end %>
  <p class="registration background">LOGIN</p>
  <p class="background" id="next-btn">Next</p>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input" %>
</div>

<div class="field">
  <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "input" %>
</div>

  <div class="actions">
    <%= f.submit "Log in", id: 'login-btn', style: 'display: none;' %>
  </div>
<% end %>
<div class="centered-link">
<% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "forget-password" %><br>
<% end %>
</div>
<style>
  .forget-password{
    text-decoration: none;
    color: #434b54;
  }
  .centered-link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
  .field-pic {
    display: flex;
    align-items: center;
    width: 100%;
    background: white;
    margin-top: 5%;
    padding: 2%;
  }
    #next-btn{
      cursor: pointer;

    }

  .field {
    width: 100%;
    background: white;
    padding: 2%;
    display: flex;
    justify-content: center;
  }

  .left-arrow-link {
    text-decoration: none;
    background-color: #3778c2; 
  }
  
  .nav {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
    color: white;
    font-size: 18px;
  }

  .background {
    background-color: #3778c2; 
  }

  .input {
    background-color: white;
    width: 100%;
    height: 30px;
    font-size: 15px;
    border: none;
    border-top: 2px solid #F0F2F1;
  }

  .registration {
    font-size: 25px;
  }

  .input:focus {
    outline: none;
  }
</style>
<script>

  document.getElementById("next-btn").addEventListener("click", function() {
    document.getElementById("login-btn").click();
  });
</script>
